/* for body  */
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #060709;
}

/* for heading */
.heading {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 15vh;
    /* background-color: aqua; */
}

.heading h1 {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    background: linear-gradient(to right, #8952f8, white);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4vw;
}

/* for education icons */
.icons {
    color: #8952f8;
    font-size: 3vw;
    margin-right: 15px;
    margin-bottom: 10px;
}

/* for checkpoints */
.check_points {
    background-color: #190d24;
    height: 23vh;
    width: 38vw;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
}

/* for hover animation */
.check_points:hover {
    background: linear-gradient(to right, #8750f7, #2a1454);
}

:hover.check_points h2 {
    color: white;
}

:hover.check_points h4 {
    color: white;
}

/* for text inside check_points */

.check_points h3 {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 1.6vw;
    color: white;
}

.check_points h4 {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
    color: #c3cfd9;
}

.check_points h2 {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.7vw;
    color: #8153ee;
}

/* for timeline */


.check_points_box:nth-child(even) {
    border-left: 1px solid white;
    transform: translateX(50%);
}

.check_points_box:nth-child(odd) {
    border-right: 1px solid white;
    transform: translateX(-50%);
}


/* it is used to create a element using css and align it acoordingly */
.check_points_box:nth-child(even)::before,
.check_points_box:nth-child(odd)::before {
    content: '';
    background: white;
    height: 1px;
    width: 20px;
    position: absolute;
    top: 50%;
}

.check_points_box:nth-child(odd)::before {
    right: 0;
}


/* to create a dot */
.check_points_box:nth-child(even) div::before,
.check_points_box:nth-child(odd) div::before {
    content: '';
    background: white;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 48%;
    border-radius: 50%;
}

.check_points_box:nth-child(even) div::before {
    /* transform: translateX(-550%); */
    left: -5%;
}

.check_points_box:nth-child(odd) div::before {
    /* transform: translateX(1200%); */
    left: 103.5%;
}

.forextramargin {
    margin-bottom: 80px;
}

/* for responsive */
@media (max-width:750px) {

    .check_points_box:nth-child(even) {
        border: none;
    }

    .check_points_box:nth-child(odd) {
        border: none;
    }

    .check_points_box:nth-child(even) div::before,
    .check_points_box:nth-child(odd) div::before {
        display: none;
    }

    .check_points_box:nth-child(even)::before,
    .check_points_box:nth-child(odd)::before {
        display: none;
    }

    .check_points_box:nth-child(even),
    .check_points_box:nth-child(odd) {
        transform: translateX(0);
    }

    .heading { 
        width: 100vw;
        height: 15vh;
    }
    .heading h1 {
        font-size: 11vw;
    }

    .icons {
        font-size: 9vw;
    }

    .check_points {
        height: 38vw;
        width: 90vw;
    }

    .check_points h3 {
       font-size: 5vw;
    }
    
    .check_points h4 {
        font-size: 3vw;
    }
    
    .check_points h2 {
        font-size: 5.5vw;
    }

    .check_points::before {
        height: 10px;
        width: 10px;
        color: white;
    }
    
}

@media (min-width:751px) and (max-width:999px){
    .heading h1 {
        font-size: 4.5vw;
    }

    .icons {
        font-size: 3.5vw;
    }

    .check_points {
        height: 19vh;
        width: 39vw;
    }
    
}