/* for body */
.body {
    background-color: #100817;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* for intro part */

.intro {
    height: 70vh;
    width: 50vW;
    margin-top: 10vh;
    /* background-color: aqua; */
    margin-bottom: 10vw;
}

/* for into text fonts */
.intro_text h3 {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 2.5vw;
    /* letter-spacing: 0cap; */
}

.intro_text h1 {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    background: linear-gradient(to right, #8952f8, white);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4.7vw;
    /* letter-spacing: 0cap; */
}

.intro_text h5 {
    font-family: "Sora", sans-serif;
    font-weight: 300;
    color: antiquewhite;
    font-size: 1.4vw;
    color: #dddddd;
    line-height: 30px;
    width: 90%;
    /* letter-spacing: 0cap; */
}

/* for text to move over hover */
.hov_t {
    transition: transform .50s;
}

.hov_t:hover {
    transform: scale(1.02);
}

/* FOR INTRO image part */
.intro_image {
    height: 70vh;
    width: 29vW;
    /* background-color: white; */
    background-image: url(./PHOTO/PORTFOLIO_PIC_Edit.jpg);
    background-size: cover;
    background-color: #0b1016;
    border-radius: 40px;
    border: 2.5px solid #330297;
    rotate: 4deg;
    transition: transform .4s;
    /* transition-delay: .1s ; */
    margin-top: 10vh;
    margin-bottom: 10vw;
}

:hover.intro_image {
    transform: rotate(-4deg);
    border-color: #8952f8;
}


/* for intro buttons */
.intro_buttons {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aqua; */
    margin-left: -18px;
}

/* for button on intro */
.btnn {
    padding: 10px 35px;
    border-radius: 40px;
    font-size: 1.4vw;
    color: #8952f8;
    background-color: transparent;
    border: 1px solid #8952f8;
    font-family: monospace;
}

/* for icons  */
.icons {
    color: #8952f8;
    font-size: 1vw;
    border-radius: 50%;
    border: 1px solid #8952f8;
    padding: 10px;
    background-color: transparent;
}

.icons_parent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}


/* for hover effect on icons and button of intro */

.hov_b {
    transition: transform .4s;
}


.hov_b:hover {
    background-color: #8952f8;
    color: white;
    transform: scale(1.1);
}


/* for responsiveness */

@media (min-width:1001px) and (max-width: 1400px) {

    .intro_image {
        height: 465px;
        width: 400px;
    }

    .intro {
        height: 470px;
        width: 700;
    }

    .intro h1 {
        font-size: 70px;
    }

    .intro h3 {
        font-size: 40px;
    }

    .intro h5 {
        font-size: 23px;
    }

}


@media (max-width:600px) {
    .body {
        flex-direction: column;
        height: 100vh;
    }

    .intro {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .intro h1 {
        font-size: 12vw;
    }

    .intro h3 {
        font-size: 6vw;
        margin-top: -50px;
    }

    .intro h5 {
        display: none;
    }

    .intro_image {
        height: 80vw;
        width: 70vW;
        position: absolute;
        top: 48vw;
        /* transform: rotate(-4deg); */
    }

    .intro_buttons {
        position: absolute;
        top: 140vw;
        /* justify-content: center; */
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .btnn{
        font-size: 3.5vw;
        margin-top: 20px;
    }

    /* for icons */
    .icons_parent{
        margin-top: 15px;
        width: 50%;
        /* margin-bottom: 15px; */
    }

    .icons{
        font-size:2.8vw;
        margin: 5px;
        text-align: center;
    }
}

@media (min-width:600px) and (max-width:1000px) {
    .intro_image {
        height: 55vw;
        width: 45vW;
        /* margin-top: -180px; */
    }

    .intro h1 {
        font-size: 6vw;
    }

    .intro h3 {
        font-size: 3vw;
    }

    .intro h5 {
        font-size: 2vw;
    }

    .intro_buttons {
        flex-direction: column;
        width: 100%;
    }

    .bt{
        font-size: 2.5vw;
    }

    .icons_parent{
        margin-top: 20px;
        width: 60%;
    }

    .icons{
        font-size:1.5vw;
    }
}