


/* for navbar  */
.body{
    display: flex;
    height: 15vh;
    width: 100vw;
    justify-content: space-between;
    background-color:#100817;
    padding: 0px 60px;
    align-items: center;
    /* position: fixed; */
    z-index: 111;
}

/* for back color to change */
.body_change{
    display: flex;
    height: 15vh;
    width: 100vw;
    justify-content: space-between;
    background-color:#060709;
    padding: 0px 60px;
    align-items: center;
    position: sticky ;
    top: 0;
    z-index: 111;
    animation-name: drop;
    animation-duration: .4s;
}

/* for the animation of navbar */
@keyframes drop{
    0%{
        transform :translateY(-20%)
    }

    50%{
        transform: translateY(0);
    }

    80%{
        transform: translateY(-10%);
    }

    100%{
        transform: translateY(0);
    }
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.nav1{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.nav1 h2{
    color: white;
    font-family: "Sora", sans-serif;
    font-weight: 500;
    margin: 10px;
    font-size: 1.1vw;
}

/* for text inside navbar  */
.anchor{
    color: #ffffff;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    margin: 10px;
    font-size: 1.2vw;
}

/* for home under line  */
.anchor:hover{
    border-bottom: 2px solid #8453d1;
}


/* for hire me button  */

.hire_me{
    padding: 13px 35px;
    background: linear-gradient(to left,#48127e, #8952f8 );
    border-radius: 30px;
    font-weight: 900;
    border: none;
    font-family: "Sora", sans-serif;
    margin: 10px;
    font-size: 1.1vw;
    color: white;
}

.hire_me:hover{
    background: linear-gradient(to left, #8952f8 ,#48127e );
}


.responsive_icons{
    display: none;
}

/* for navbar responsive */
@media (max-width:650px){
    .nav1,.nav2{
        display: none;
    }

    .nav3{
        display: flex;
        width: 100%;
        height: 0px;
        background-color: #100817;
        z-index: 11;
        align-items: center;
        justify-content: space-between;
    }
    .nav3_change{
        display: flex;
        width: 100%;
        height: 50%;
        background-color: #100817;
        z-index: 11;
        align-items: center;
        justify-content: space-between;
    }

    .nav3_2{
        display: flex;
        flex-direction: column;
        margin-top: 330px;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .anchor{
        font-size: 15px;
    }



    .body_change{
        height: 70px;
        padding: 0px;
    }
    .body{
        height: 70px;
        padding: 0px;
    }

    .responsive_icons{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .bars{
        font-size:30px;
        color: white;
        margin-right: 10px; 
        z-index: 111 ;
    }

    .hire_me{
        font-size: 10px;
    }
}