*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}


/* for navbar  */
.nav{
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: space-between;
    background-color:aqua;
    padding: 0px 20px;
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.nav1{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* for navbar responsive */
