

.body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #170b23;
}

/* for projects */
.p{
    background-color: #11041d;
    /* background-color: white; */
    height: 60vh;
    width: 40vw;
    /* border: 1px solid black; */
    margin: 20px;
    border-radius: 20px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items:center ;
}

/* for the projects */
.p1{
    height: 80%;
    width: 80%;
    /* background-color: white; */
    background-image: url('../PHOTO/projects/p1.png');
    background-size: cover;
    border-radius: 20px;
    z-index: 0;
    border: 1px solid black;
}

.p2{
    height: 80%;
    width: 80%;
    /* background-color: white; */
    background-image: url('../PHOTO/projects/p3.jpg');
    background-size: cover;
    border-radius: 20px;
}

.p3{
    height: 80%;
    width: 80%;
    /* background-color: white; */
    background-image: url('../PHOTO/projects/p2.jpg');
    background-size: cover;
    border-radius: 20px;
}
.p4{
    height: 80%;
    width: 80%;
    /* background-color: white; */
    background-image: url('../PHOTO/projects/p4.jpg');
    background-size: cover;
    border-radius: 20px;
}




/* for anchor tag */
.anchor{ 
    height: 35%;
    width: 100%;
    background: linear-gradient(to left,#431075, #7146c9 );
    margin-top: 48%;
    padding: 15px;
    border-radius: 20px;
    display: none;
    z-index: 11;
}

/* for hover effect */
.p:hover .anchor{
    transform: scale(1.1);
    display: block;
}


/* for text inside a anchor tag */
.anchor h2{
    text-decoration: none;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    color: white;
}

.anchor p{
    text-decoration: none;
    font-family: "Sora", sans-serif;
    font-weight: 300;
    color: #dddddd;
}

.icon{
    font-size: 1.5vw;
    color: #dddddd;
}

/* for elements to align inside a */
.aa{
    display: flex;
    justify-content: space-between;
}


a{
    text-decoration: none;
}